{% extends 'base.html' %}
{% block container %}


     <div class="row mt-5">
        <div class="col-6 offset-3">
            
            
                
                  <div class="card-body text-center pt-5">
                    <img src={{picture}} class="mb-3" width="95" alt="">
                    <h5 class="card-title mt-2 mb-2">{{name}}</h5>
                    <p class="my-1">Запись на пробный урок</p>
                    <p class="my-1">{{day}}, {{time}}:00</p>
                  </div>


                   <hr/>
             <form method="POST" action="{{ url_for('bking',id=id, day=daykey, time=time) }}" > 
                {{ form.csrf_token }}
                   <div class="card-body mx-3">

                       <p class="mb-1 mt-2">Вас зовут</p>
                       {{form.name(class = "form-control")}}

                       <p class="mb-1 mt-2">Ваш телефон</p>
                       {{form.number(class = "form-control")}}

                       <input type="submit" class="btn btn-primary btn-block mt-4" href="/" value="Записаться на пробный урок">

                   </div>

                </form>
           

        </div>
     </div>


 {% endblock %}